body{
    background-color: purple;
}
#playBtn{
  margin-top:270px;
  font-size: 5vh;
}
#listBody{
    background-color: purple;
}
/* #overEffect:hover{
    background-color: beige !important;
} */
#continue{
  animation: shake 5s;
  animation-iteration-count: infinite;
  color: #fff;
  text-align: center;
  animation: shake 2s ease-in-out infinite alternate;
}
@keyframes shake {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
    0%{ transform:   translate(-130px)}
    100%{ 
    transform:translate(130px) 
  }
}
/* #modal{
  background-color: purple;
} */
#bodyImg{
  background-image: url(2018-Who-Wants-To-Be-A-Millionaire-colour-corrected\ \(1\).jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}


#backgroundSetting{
  animation: rounded 2s;
  animation-iteration-count:2;
}

@keyframes rounded{
  0%{ 
  transform: rotate(0deg)
  translate(-165px)
  rotate(0deg)
  }
  100%{
    transform: rotate(360deg)
    scale(1.2)
    rotate(0deg)
  }
}

/* @media screen and (max-width: 450px) {
  #backgroundImage{
    width: 100vw;
    height: 100vh;
    background-size: contain;
  }
} */